<a href="https://colab.research.google.com/github/Ramon689/Python-for-Data-Science/blob/master/Education%20Expenditure%20and%20Math%20Performance%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#merge NCES and MATH_scores

In [ ]:
#intialize enviornment settings and packages

import io
import pandas as pd
import numpy as np

#prevent dataframe truncation by adjusting pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
df_schools = pd.read_csv('/content/NCES_Expidenture_District_info.csv')

df_scores = pd.read_csv('/content/Math_scores_10_19.csv')

In [ ]:
df_schools.info()

#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 22077 entries, 0 to 22076
#Data columns (total 11 columns):
# #   Column           Non-Null Count  Dtype
#---  ------           --------------  -----
# 0   District_Key     22077 non-null  object
# 1   Avg_Tot_Cur_Exp  22077 non-null  float64
# 2   Avg_Tot_Exp      22077 non-null  float64
# 3   Year_End         22077 non-null  int64
# 4   Unnamed: 0       22077 non-null  int64
# 5   Agency_Name      22077 non-null  object
# 6   City             22077 non-null  object
# 7   Zip              22077 non-null  int64
# 8   Latitude         22077 non-null  float64
# 9   Longitude        22077 non-null  float64
# 10  County           21573 non-null  object
#dtypes: float64(4), int64(3), object(4)
#memory usage: 1.9+ MB


df_scores.info()

#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 28290 entries, 0 to 28289
#Data columns (total 10 columns):
# #   Column              Non-Null Count  Dtype
#---  ------              --------------  -----
# 0   Unnamed: 0          28290 non-null  int64
# 1   District_Key        28290 non-null  object
# 2   Assessment          28290 non-null  object
# 3   Subject             28290 non-null  object
# 4   Grade               28290 non-null  object
# 5   Year_End            28290 non-null  int64
# 6   Population          28290 non-null  object
# 7   Total_Tested        28290 non-null  int64
# 8   Total_Proficient    28290 non-null  int64
# 9   Percent_Proficient  28290 non-null  float64
#dtypes: float64(1), int64(4), object(5)
#memory usage: 2.2+ MB

In [ ]:
#why are there only 17744 non-null  objects in County column of df_schools
#drop null values
df_schools= df_schools.dropna()

print(df_schools.info())

#Int64Index: 21573 entries, 0 to 22076
#Data columns (total 10 columns):
# #   Column           Non-Null Count  Dtype
#---  ------           --------------  -----
# 0   District_Key     21573 non-null  object
# 1   Year_End         21573 non-null  int64
# 2   Agency_Name      21573 non-null  object
# 3   County           21573 non-null  object
# 4   City             21573 non-null  object
# 5   Zip              21573 non-null  int64
# 6   Latitude         21573 non-null  float64
# 7   Longitude        21573 non-null  float64
# 8   Avg_Tot_Cur_Exp  21573 non-null  float64
# 9   Avg_Tot_Exp      21573 non-null  float64
#dtypes: float64(4), int64(2), object(4)


print(df_schools.columns)
#['District_Key', 'Avg_Tot_Cur_Exp', 'Avg_Tot_Exp', 'Year_End',
      # 'Unnamed: 0', 'Agency_Name', 'City', 'Zip', 'Latitude', 'Longitude',
      # 'County']


print(df_scores.columns)

#['Unnamed: 0', 'District_Key', 'Assessment', 'Subject', 'Grade',
      # 'Year_End', 'Population', 'Total_Tested', 'Total_Proficient',
      # 'Percent_Proficient']

#drop unnecessary columns
df_schools = df_schools[['District_Key','Year_End','Agency_Name','County','City',
                        'Zip', 'Latitude', 'Longitude', 'Avg_Tot_Cur_Exp',
                        'Avg_Tot_Exp']]

df_scores = df_scores[[ 'District_Key','Year_End', 'Assessment', 'Subject',
                      'Grade','Population', 'Total_Tested', 'Total_Proficient',
                      'Percent_Proficient']]


#change all strings to all caps and reduce the number of duplicates
df_schools['District_Key']= df_schools['District_Key'].str.upper()
df_schools['Agency_Name']= df_schools['Agency_Name'].str.upper()
df_schools['County']= df_schools['County'].str.upper()
df_schools['City']= df_schools['City'].str.upper()

df_scores['District_Key']= df_scores['District_Key'].str.upper()
df_scores['Assessment']= df_scores['Assessment'].str.upper()
df_scores['Subject']= df_scores['Subject'].str.upper()
df_scores['Population']= df_scores['Population'].str.upper()


#check for duplicates in each dataframe
duplicate_01 = df_scores[df_scores.duplicated()]

print("Duplicate Rows :")

# Print the resultant Dataframe
print(len(duplicate_01)) #270

#check for duplicates in each dataframe
duplicate_02 = df_schools[df_schools.duplicated()]

print("Duplicate Rows :")

# Print the resultant Dataframe
print(len(duplicate_02)) #1611

#drop duplicates in each dataframe
df_schools_00 = df_schools.drop_duplicates()
df_scores_00 = df_scores.drop_duplicates()

display(len(df_schools_00)) #19962
display(len(df_scores_00)) #28020

In [ ]:
print("\nFreq of yearly data df_score")
print(df_scores_00.Year_End.value_counts())

#Freq of yearly data df_score
#2014    5528
#2013    5466
#2012    5337
#2011    5190
#2010    5091
#2018     378
#2016     377
#2015     375
#2017     278

print("\nFreq of yearly data df_schools")
print(df_schools_00.Year_End.value_counts())

#Freq of yearly data df_schools
#2011    2266
#2012    2266
#2013    2266
#2014    2266
#2015    2266
#2016    2266
#2017    2266
#2018    2266
#2019    2266

#remove the values from Year_End 2010 of scores dataframe
df_scores_00 = df_scores_00[df_scores_00['Year_End']!=2010]


#remove the values from Year_End 2019 of schools dataframe
df_schools_00 = df_schools_00[df_schools_00['Year_End']!=2019]

print("\nLength of each Dataframe after Year_End range set to 2011-2018")
print(len(df_scores_00))#22929 obs
print(len(df_schools_00))#17744 obs

In [ ]:
print(df_scores_00.info())
#<class 'pandas.core.frame.DataFrame'>
#Int64Index: 22929 entries, 5149 to 28289
#Data columns (total 9 columns):
# #   Column              Non-Null Count  Dtype
#---  ------              --------------  -----
# 0   District_Key        22929 non-null  object
# 1   Year_End            22929 non-null  int64
# 2   Assessment          22929 non-null  object
# 3   Subject             22929 non-null  object
# 4   Grade               22929 non-null  object
# 5   Population          22929 non-null  object
# 6   Total_Tested        22929 non-null  int64
# 7   Total_Proficient    22929 non-null  int64
# 8   Percent_Proficient  22929 non-null  float64
#dtypes: float64(1), int64(3), object(5)
#memory usage: 1.7+ MB


print(df_schools_00.info())
#<class 'pandas.core.frame.DataFrame'>
#Int64Index: 18128 entries, 0 to 22049
#Data columns (total 10 columns):
# #   Column           Non-Null Count  Dtype
#---  ------           --------------  -----
# 0   District_Key     18128 non-null  object
# 1   Year_End         18128 non-null  int64
# 2   Agency_Name      18128 non-null  object
# 3   County           17744 non-null  object
# 4   City             18128 non-null  object
# 5   Zip              18128 non-null  int64
# 6   Latitude         18128 non-null  float64
# 7   Longitude        18128 non-null  float64
# 8   Avg_Tot_Cur_Exp  18128 non-null  float64
# 9   Avg_Tot_Exp      18128 non-null  float64
#dtypes: float64(4), int64(2), object(4)
#memory usage: 1.5+ MB

In [ ]:

df_schools_00 = df_schools_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')
df_scores_00 = df_scores_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')

print(df_schools_00.head(10))
print(df_scores_00.head(10))

#there appear to be slight variations in the district keys


#district_key of each dat frame
dk_school = df_schools_00.District_Key.unique()
dk_score = df_scores_00.District_Key.unique()

print(len(dk_school))# 56
print(len(dk_score)) #66

print(dk_school)
print(dk_score)
#create df to compare order of each
#District_Key_df = pd.DataFrame(data = DK_schools)
#District_Key_df['scores'] = DK_scores

#print(District_Key_df)

#df_schools_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')
#df_scores_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')

#print(df_schools_00.head(10))
#print(df_scores_00.head(10))

In [ ]:
#identify District Key that are exclusive to dk_score
for i in range(len(dk_score)):
  if dk_score[i] not in dk_school:
    print(dk_score[i])

#CALHOUN ISD
#EATON ISD
#IOSCO RESA
#JACKSON ISD
#LENAWEE ISD
#LEWIS CASS ISD
#NEWAYGO COUNTY RESA
#STATE OF MICHIGAN
#STATEWIDE
#TRAVERSE BAY AREA ISD


fix_dk_score = {'CALHOUN ISD': 'CALHOUN INTERMEDIATE SCHOOL DISTRICT', 'JACKSON ISD ' : 'JACKSON ISD',
  'LENAWEE ISD ': 'LENAWEE ISD', 'NEWAYGO COUNTY RESA ': 'NEWAYGO COUNTY RESA','IOSCO RESA ':'IOSCO RESA' }

df_scores_00 = df_scores_00.replace(fix_dk_score) #

df_scores_00 = df_scores_00[df_scores_00['District_Key'] != 'STATE OF MICHIGAN']

df_scores_00 = df_scores_00[df_scores_00['District_Key'] != 'STATEWIDE']

df_scores_00 = df_scores_00[df_scores_00['District_Key'] != 'EATON ISD']

df_scores_00 = df_scores_00[df_scores_00['District_Key'] != 'LEWIS CASS ISD']

df_scores_00 = df_scores_00[df_scores_00['District_Key'] != 'TRAVERSE BAY AREA ISD']


print(len(df_scores_00.District_Key.unique())) #56

len(df_scores_00.info()) # 22151 obs

In [ ]:
from ast import Break
df_schools_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')
df_scores_00.sort_values(by = ['District_Key', 'Year_End'], ascending = [True, True], na_position = 'first')



Year_End = df_schools_00.Year_End.unique()
District_Key = df_schools_00.District_Key.unique()

results_df = pd.DataFrame()

#for each year_end query and individual district_key
for y in Year_End:
  #subset of df for specific year
  df_y_temp_score = df_scores_00[df_scores_00['Year_End']== y]
  df_y_temp_school = df_schools_00[df_schools_00['Year_End']== y]



  for d in District_Key:
    #subset of df for specific year and district key
    df_y_d_temp_score = df_y_temp_score[df_y_temp_score['District_Key'] == d]
    df_y_d_temp_school = df_y_temp_school[df_y_temp_school['District_Key'] == d]

    #print(df_y_d_temp_score)
    #print(df_y_d_temp_score)



    #iterate though length of df_school saving the values of one row to all
    #associated rows from df_score
    for i in range(len(df_y_d_temp_school)):
      temp_cross_df = df_y_d_temp_score
      #add column values from df_school
      temp_cross_df['Agency_Name'] = df_y_d_temp_school.iloc[i,2]#'Agency_Name'
      temp_cross_df['County'] = df_y_d_temp_school.iloc[i,3]#'County'
      temp_cross_df['City'] = df_y_d_temp_school.iloc[i,4]#'City'
      temp_cross_df['Zip'] = df_y_d_temp_school.iloc[i,5]#'Zip'
      temp_cross_df['Latitude'] = df_y_d_temp_school.iloc[i,6]#'Latitude'
      temp_cross_df['Longitude'] = df_y_d_temp_school.iloc[i,7]#'Longitude'
      temp_cross_df['Avg_Tot_Cur_Exp'] = df_y_d_temp_school.iloc[i,8]#'Avg_Tot_Cur_Exp'
      temp_cross_df['Avg_Tot_Exp'] = df_y_d_temp_school.iloc[i,9]#'Avg_Tot_Exp'

      #temp cross df is then appended together to create results df
      #print(temp_cross_df.columns)
      #print(temp_cross_df.info())

      results_df = results_df.append(temp_cross_df)
    #print(len(results_df))





len(results_df)

In [ ]:
print(results_df.info())

#drop duplicates in each dataframe
results_df = results_df.drop_duplicates()

print(results_df.info())

In [ ]:



results_df.to_csv('/content/Thesis_df.csv')